<!DOCTYPE html>
<html ng-app="kdinstaller">
    <head>
        <title>Karst Desktop Client Installer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="styles.css" rel="stylesheet">
    </head>
    <body ng-controller="kdinstallerController as $ctrl">
        <br>

        <div class="container">
            <div ng-if="page == 'about'">

                <div style="float: left;">
                    <img src="images/kdlogo.png" width="100px">
                </div>
                <div style="margin-left: 120px">
                    <p class="help-block">This application will download and configure ThinLinc client in order to access your Karst Desktop.</p>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form ng-submit="submit(form)" name="userpass">
                                <input type="checkbox" ng-model="form.install_sshkey"> Enable SSH key based login</input>

                                <div ng-if="!form.install_sshkey">
                                    <p class="help-block">
                                        You can enable SSH key based login if this is a trusted device, for example your personal laptop. 
                                        Then you would not need to enter your IU password every time you login to Karst Desktop.
                                    </p>
                                </div>

                                <div ng-if="form.install_sshkey">
                                    <p class="help-block">Please enter your IU username / passphrase</p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <img src="images/iulogo.png" style="" height="18">
                                            </span>
                                            <input id="username" type="text" class="form-control" ng-model="form.username" required placeholder="Username"></input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-lock" style="width: 18px; color: #888;"></span>
                                            </span>
                                            <input type="password" class="form-control" ng-model="form.password" required placeholder="Passpharse"></input>
                                        </div>
                                    </div>
                                </div><!--ng-if-->
                                <button type="submit" class="btn pull-right" ng-disabled="userpass.$invalid">Install</button>
                            </form>
                        </div><!--panel-body-->
                    </div><!--panel-->
                </div><!--col-md-8-->
            </div>

            <div ng-if="page == 'run'">
                <progress-status detail="progress_detail.sshkey">Generate and Install SSH Keys</progress-status>
                <progress-status detail="progress_detail.download">Download ThinLink Client</progress-status>
                <progress-status detail="progress_detail.install">Install ThinLink Client</progress-status>
                <progress-status detail="progress_detail.configure">Configure ThinLink Client</progress-status>
                <progress-status detail="progress_detail.desktop">Install Desktop Launcher</progress-status>
            </div>

            <div ng-if="page == 'error'" class="panel panel-danger">
                <div class="panel-heading"><h3 class="panel-title">Oops!</h3></div>
                <div class="panel-body">
                    <p>{{message}}</p>
                    <p style="padding: 15px; background-color: #ccc;" ng-if="message_detail.message">{{message_detail.message}}</p>
                    <pre ng-if="!message_detail.message">{{message_detail|json}}</pre>
                    <button type="button" class="btn btn-danger" ng-click="gopage('about')">Back</button>
                </div>
            </div>

            <div ng-if="page == 'finish'" class="panel panel-success">
                <div class="panel-heading"><h3 class="panel-title">Installed Successfully!</h3></div>
                <div class="panel-body">
                    <!--<p>You can now launch Karst Desktop through a desktop shortcut.</p>-->
                    <p>You can launch ThinLinc client in order to access Karst Desktop now.</p>
                    <button type="button" class="btn btn-success" ng-click="launch_tl()">Launch Karst Desktop</button>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
            <div class="iulogo"></div>
            <p>INDIANA UNIVERSITY | SciApt 
            <span class="pull-right clickable" onclick="open_devtool()">
            <script>
            let pkginfo = require('./package.json');
            document.write(pkginfo.version);
            </script>
            </span></p>
            </div>
        </footer>
    </body>

    <script>
        //using <script> doesn't load jquery properly //http://stackoverflow.com/a/38556376/99330
        window.jQuery = window.$ = require('./lib/jquery-1.12.4.min.js');
    </script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
</html>
