body {
/*font-family: 'Lato', sans-serif;*/
}
.help-block {
font-size: 90%;
}

.clickable {
  cursor: pointer;
}
hr {
  margin-top: 7px;
  margin-bottom: 10px;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  background-color: #7d110c;
  border-color: #960D00;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #7d110c;
    color: white;
    margin-top: 10px;
    padding-top: 10px;
}

footer .iulogo {
    position: absolute;
    top: -10px;
    width: 43px;
    height: 50px;
    background-image: url('images/block-iu-top-43x40.png');
    background-repeat: no-repeat;
    background-color: #960D00;
}
footer p {
    margin-left: 50px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 2s linear infinite;
}

